<h1>Routing application</h1>
<router-outlet></router-outlet>

<p>1 - creare un'applicazione</p>
<p>2 - creare tre componenti (home, lista tipo 1, lista tipo 2)</p>
<p>3 - creare due tipi di oggetto (tipo 1 e tipo 2)</p>
<p>4 - creare un sistema di routing tra le 3 componenti</p>
<p>5 - creare un servizio da cui ricavare i dati via json-server</p>
<p>6 - ricavare i dati per la lista tipo 1 e la lista tipo 2 dal servizio (potete fare anche due servizi separati)</p>
<p>7 - mostrare i dati sulle componenti lista tipo 1 e lista tipo 2</p>
<p>8 - (opzionale) fare una pagina di dettaglio di un oggetto passando un parametro sul router per navigare tra i dati</p>
