<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="box">
        <div class="row d-flex justify-content-center">
          <p>Add car</p>
        </div>
        <form #myForm="ngForm">
          <div class="form-group d-flex justify-content-center">
            <label class="px-2" for="brand">Marchio</label>
            <input type="text" id="brand" required
            [(ngModel)]="newCar.brand" name="brand"
            #myBrand="ngModel"/>
          </div>
          <div class="form-group d-flex justify-content-center">
            <label class="px-2" for="name">Modello</label>
            <input type="text" id="name" required
            [(ngModel)]="newCar.name" name="name"
            #myName="ngModel"/>
          </div>
          <div class="form-group d-flex justify-content-center">
            <label class="px-2 ml-1" for="power">Potenza</label>
            <input type="number" id="power" required
            [(ngModel)]="newCar.power" name="power"
            #myPower="ngModel"/>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" [disabled]="!myForm.valid"
            (click)="inviaForm()">Invia</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm">
      <div class="box">
        <p>Car List</p>
        <ul class="list-group">
          <li *ngFor="let car of carList" class="list-group-item">{{car.brand}} {{car.name}} - {{car.power + "cv"}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
